.idea
.DS_Store

# Temp input/output files
output.txt
input.txt

# Ignored CMakeFiles
CMakeFiles/*
tests/CMakeFiles/*
build/tests/CMakeFiles/*
build/CMakeFiles/*
*.cmake
CMakeCache.txt
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/out_min\.txt

bin/out\.txt

bin/CMakeFiles/

\.vscode/launch\.json
